body {
	background-color: #000000;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.movies-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.card {
		padding:10px;
		margin-bottom:20px;
		background-color:white;
		border-radius: 10px;
		max-height:700px

}

.card-title {
	font-weight: 800;
	margin-top:10px;

}

.card-text {
	font-size:12px;
	background-color:#333;
	color:white;
	width:60px;
	border-radius:5px;
	margin-block-end: 0%
}

.movie-button {
	margin-top: 5%;

}